@charset "utf-8";
/* CSS Document */

body{ width:100%; height:auto; background:url(images/bg.jpg) repeat-x top #16171b; margin:0; padding:0; font-family:Arial;}

#warp{ width:873px; height:auto; margin:0 auto;}
.head{ width:873px; height:90px; margin-bottom:10px;}
.logo{ width:213px; height:40px; background:url(images/logo.jpg) no-repeat; float:left; padding:50px 0 0 97px;}
h1 { margin:0; padding:0; font-size:14px; color:#a9acb3; font-weight:lighter;}
.nav{ float:right; padding:35px 20px 0 0; font-size:15px;color:#FFF;}
.nav a { color:#FFF;text-decoration:none; padding:0 15px;}
.nav a:hover{ color:#7f9fba; text-decoration:underline;}
.nav a.active{ color:#7f9fba; text-decoration:underline;}
.clr{ clear:both;}

.banner{ width:873px; height:349px; margin-bottom:48px;}
.banner-left{ width:10px; height:349px; background:url(images/banner-left.jpg) no-repeat; float:left;}
.banner-center{ width:363px; height:324px; background:url(images/banner-bg.jpg); padding:25px 0 0 30px;float:left;}
.txt-tit{ width:300px; background:url(images/price.jpg) no-repeat top right; margin-bottom:20px; padding:0;}
h2{ font-size:46px; color:#212227;line-height:38px; font-weight:lighter; margin:0; padding:0;}
h3{ font-size:24px; color:#626262;font-weight:lighter; margin:0; padding:0;}
.txt-content{margin-bottom:20px; margin-right:25px;}
.txt-content p{ font-size:13px; color:#5d6067; line-height:18px;}
.btn{ width:157px; height:53px;}
.banner-right{ width:470px; height:349px; background:url(images/iphone.jpg);float:left;}

.content{ width:863px; height:auto; padding:0 5px; }
.content1{ margin:0 20px; padding:0; float:left; margin-bottom:35px;}
.content1 span{ font-size:10px; color:#959595; margin:15px 0 5px; display:block; padding:0 0 0 15px;}
.content1 p{ margin:0; padding:0; color:#c0deed; line-height:18px; font-size:12px;padding:0 0 0 15px;}
.content1 p a{ color:#c0deed; text-decoration:underline;}

.bird { width:820px; height:65px; margin:0 auto; padding:0;}
.bird-left{ width:80px; height:65px; float:left; background:url(images/bird.jpg) no-repeat;}
.bird-center{ width:715px; height:51px; float:left; background:url(images/bird-bg.jpg) repeat-x; padding:14px 0 0 15px;}
h4 { font-size:17px; color:#fff; margin:0; padding:0; }
h4 a{ color:#6cd3fe; text-decoration:none;}
h4 a:hover{ color:#6cd3fe; text-decoration:underline;}
.bird-center p{ font-size:10px; color:#989da9; line-height:15px; margin:0; padding:0;}
.bird-right{ width:10px; height:65px; float:left; background:url(images/bird-right.jpg) no-repeat;}

.foot{ width:873px; height:70px; font-size:11px; color:#5d6067; line-height:60px; text-align:center;}




/*----------------about-------------------*/
.about-banner{ width:798px; height:319px; margin-bottom:48px; padding:30px 30px 0 45px; background:url(images/about.jpg) no-repeat 520px 60px;}
h5{ margin:0; padding:0; font-size:30px; color:#c3d7e8; font-weight: lighter; }
.about-banner p{ margin:10px 0 0 0; padding:0; font-size:13px; color:#c3d7e8; line-height:16px;}