@charset "utf-8";
/* CSS Document */
body{ background:url(images/head-bg.jpg) repeat-x #ffe63e; width:100%; height:auto; margin:0; padding:0;}

#warp{ width:100%; height:auto; font-family:Arial, verdana;}
.head{ height:52px; margin:0 auto; width:960px;}
.nav{ padding:0; margin:12px 0 0 25px; height:29px; width:220px; float:left;}
.nav ul{ list-style:none; margin:0; padding:0; height:29px;}
.nav ul li{ float:left;  margin:0 ; height:29px; width:auto;}

.nav ul li a.choose span { background:url(images/tag-2.jpg) no-repeat right;}


.menu{ padding:12px 20px 0 34px ; margin:0; height:29px; width:210px; float:right; background:url(images/bird.jpg) no-repeat 0 12px; font-size:12px; color:#bad9ef; text-decoration:none; line-height:29px;}
.menu a { font-size:12px; color:#bad9ef; text-decoration:none; line-height:29px; padding:0 5px;}
.menu a:hover{ text-decoration:underline;}

.banner{ width:908px; margin:0 auto; height:auto; padding:38px 26px 0 26px;}
.banner1{ width:908px; height:auto;}
.banner1-left{ width:610px; float:left; padding-right:75px;}
.banner1-tit{ height:88px;}
.banner1-tit1{ background:url(images/icon-tube.jpg) no-repeat; height:88px; float:left; width:433px; padding-left:90px;}
h1{ margin:0; padding:0; font-size:80px; line-height:88px; float:left;}
.banner1-tit2{ background:url(images/price.jpg) no-repeat; height:88px; float:right; width:87px; }
h2{font-size:18px; line-height:20px; font-weight:bold; margin:0; padding:28px 0 0 0 ; float:left;}
.banner1-text{ padding-top:20px; font-size:16px; line-height:24px;}

.banner1-right{ width:220px; float:right; padding-top:20px;}
.banner1-right img{ padding-bottom:20px;}
.banner1-right p{ margin:0; padding:10px 0 0 0; font-family:Georgia, "Times New Roman", Times, serif; font-size:13px; font-style:italic; color:#718797; line-height:20px;}
.banner1-right p span{ display:block; text-align:right; padding-right:20px;}

.banner2{ width:880px; background:url(images/banner1.jpg) no-repeat; height:520px; margin-left:28px}
.banner2-left{ float:left; height:520px; padding-left:159px; width:565px;}
.banner2-right{ float:left; background:url(images/banner3.jpg) no-repeat; height:520px;width:118px;}

.ProOverview{ height:110px; margin-left:230px; margin-bottom:25px;}
.ProOverview img{ float:left; margin-right:20px;}

.foot{ width:100%; background:#3a3a3a; color:#989898; height:auto;}
.footer{ width:960px; margin:0 auto;}
.footer-top{ height:40px; padding-right:20px;}
.footer-content{ width:910px; height:auto; margin:0; padding:0px 0px 50px 50px; }
.footer-content ul{ padding:0; list-style:none; float:left; margin:0px 50px 0px 0px; width:250px;font-size:12px; line-height:20px;}
.footer-content ul li{ margin:0; padding:0 0 10px 0;}
h3{ margin:0; padding:0;  font-size:24px; color:#fff; font-weight:lighter;}
h3 span{ color:#47bff0;}
.sub{ background:url(images/sanjiao.jpg) no-repeat 0 2px; margin-left:10px; padding:0 0 10px 20px;}

.up{ position:absolute; z-index:100; margin-top:-15px; margin-left:220px;}

.footer-content-text{ width:250px; background:url(images/text1.jpg) no-repeat; height:137px;}
.footer-content-text1{ width:230px; height:117px; background:#1e1e1e; padding:20px 0 0 0; float:right; }
.footer-content-text1 p{  margin:0; padding:0;}
.footer-content-text1 span{  margin:0; padding:5px 0 0 0 ; font-size:11px; display:block;}
.footer-content-text1 a { text-decoration:none; color:#47bff0;}
.footer-content-text2{ width:10px; height:137px; background:url(images/text2.jpg) no-repeat; ;float:right;}

.footer-content-bottom{ width:650px; margin:0 auto 30px auto; padding:0 ; height:56px; background:#545a5e;} 
.footer-content-bottom-text{ height:48px; width:516px; background: url(images/people.jpg) no-repeat; padding:8px 0 0 80px; font-size:16px; font-family:Georgia, "Times New Roman", Times, serif; font-style:italic; line-height:18px; float:left;}
.footer-content-bottom-letter { float:right; background:url(images/letter.jpg) no-repeat; height:56px; width:54px;}

.footer-bottom{ width:960px; margin:0 auto; padding:0 0 10px 0; text-align:center; height:70px; }
.footer-bottom p{ margin:0; padding:0; color:#cbcbcb; font-family:verdana, Arial; line-height:18px; font-size:12px;}


/*------about------*/
.about-line{ width: 908px; height:15px; margin-top:15px; background:url(images/about-line.jpg) no-repeat;}
.about-text{ width:845px; height:auto; margin:0px; padding:15px 53px 0px 10px; font-family: Arial;}
.about-text ul{ margin:0px; padding:20px 0px 30px 0px; list-style:none;}
.about-text ul li{ margin:0px; padding-bottom:5px; color:#000; font-size:16px; line-height:26px;}
h4{ margin:0; padding:0;  font-size:30px; color:#000; font-weight:lighter;}