@charset "utf-8";
/* CSS Document */
body { width:100%; height:auto; background:url(images/bg.jpg); margin:0; padding:0; color:#35405b; font-family:Arial, Helvetica, sans-serif;}

#warp{ width:934px; height:auto; margin:0 auto; padding:0;}
.head{ height:70px; width:934px; margin:0; padding:30px 0 20px 0; text-align:center;}
.ipad{ width:934px; height: 719px;}
.ipad-left{ float:left; height:719px; width:125px; background:url(images/ipadleft.jpg) no-repeat;}
.ipad-center{ float:left;width:675px; background:url(images/ipadhead.jpg) no-repeat top; padding:78px 0 0 0;}
.content{ width:675px; height:641px; background:url(images/ipadbg.jpg);}
.content1{ width:675px; height:105px;}
.content1-left{width:145px; float:left; background:url(images/content1-left-bg.jpg) no-repeat; height:80px; margin:0; padding:25px 0 0 15px;}
h1{ margin:0 ; padding:0; font-weight:lighter; font-size:24px;}
h2{ margin:0 ; padding:0; font-weight:lighter; font-size:12px;}
.ProImg{width:260px; float:left; padding:16px 60px 0 35px; height:55px; margin:0;}
.ProImg img{ float:left; padding:0 10px 0 0; margin:0;}
.content1-right{width:160px; float:left;padding:16px 0 0 0; height:55px;}

.content2{ width:620px; height:130px; padding:0 30px 0 25px; margin:0;}
.content2-left{ float:left; width:110px; padding:0 25px 0 0; margin:0; height:110px;}
.content2-right{ float:right;height:130px; width:485px;}
.content2-right p{ margin:0; padding:0; font-size:14px; line-height:18px;}
.content2-right span{ margin:15px 0 0 0; padding:0; font-size:11px; line-height:14px; color:#fff; display:block;}

.content3{ margin:40px 25px 0 25px; padding:0; width:625px; height:180px;}
.content3-1{ margin:0; padding:0; width:200px; height:auto; float:left;height:180px;}
.content3-1 p{ margin:0; padding:10px 0 0 0; font-size:11px; line-height:14px;}
.content3-1 span{ margin:0; padding:0; font-size:11px; line-height:14px; background: url(images/three.jpg) no-repeat 0 12px; padding:10px 0 0 15px; display:block;}
.space{ margin:0 12px; padding:0;float:left;}

.content4{ margin:30px 25px 0 25px; padding:0; width:625px; height:51px; background:#647688;}
.content4-left{ width:10px; height:51px; float:left; background:url(images/sub-bg-left.jpg) no-repeat;}
.content4-center{ width:545px; height:35px; float:left; padding:8px 0 8px 60px; background:url(images/bird.jpg) no-repeat 0 8px; }
.content4-center p{ color:#FFF; font-size:14px; font-weight:bold; margin:0; padding:0;}
.content4-center a{ color:#6cd3fe; text-decoration:none;}
.content4-center span{ color:#FFF; font-size:10px; margin:5px 0 0 0; padding:0; display:block;}
.content4-right{ width:10px; height:51px; float:left; background:url(images/sub-bg-right.jpg) no-repeat;}

.ipad-right{ float:left; height:719px; width:134px; background:url(images/ipadright.jpg) no-repeat;}

.foot{ width:934px; height:50px; text-align:center;}
.foot p{ color:#FFF; margin:0; padding:0; line-height:50px; font-size:12px;}
.foot a{ color:#6cd3fe;}