@charset "utf-8";
/* CSS Document */

body{ width:100%; height:auto; margin:0; padding:0; background:#e2e4f5 url(images/about-bg.jpg) repeat-x top;font-family:Arial;}
#warp{ width:900px; height:auto; margin:0 auto; padding:14px 0 0 0;}
.nav{ width:900px; height:38px; margin: 0 ; padding:0}
.nav-left{ width:10px; height:38px; float:left; background:url(images/nav-left.jpg) no-repeat;}
.nav-center{ width:867px; height:38px; float:left; background:url(images/nav-bg.jpg) repeat-x; padding:0 0 0 13px;}
.nav-right{ width:10px; height:38px; float:left; background:url(images/nav-right.jpg) no-repeat;}

.content{ width:815px; height:auto; margin:26px 0 0 0 ; padding:120px 30px 30px 55px; background:url(images/about-pic.jpg) no-repeat; }
.content span{ font-size:10px; color:#959595;}
.content p{ margin:0; padding:10px 0; color:#3e3e3e; line-height:18px; font-weight:lighter; font-size:13px;}


.foot{ width:900px; height:50px; border-top:1px solid #bebfc8; text-align:center; line-height:40px; font-size:11px; color:3e3e3e;}