@charset "utf-8";
/* CSS Document */
body{ width:100%; height:auto; margin:0px; padding:0px; background:#3a3a3a;}

#warp{ width:100%; height:auto; margin:0px; padding:0px;}
.top{ width:100%; height:51px; background:url(images/head-bg.jpg) repeat-x; margin:0px; padding:0px;}
.head{ width: 960px; height:51px; margin:0px auto; padding:0px;}
.nav{ width:395px; float:left;}
.nav a { font-family:Verdana, Geneva, sans-serif; font-size:18px; color:#FFF; line-height:51px; text-decoration:none; padding-left: 40px;}
.nav a:hover{ text-decoration:underline;}
.menu{ float:right; width:260px; font-size:12px; color:#bad9ef;padding-right:20px; }
.menu a { font-family:Verdana, Geneva, sans-serif; font-size:12px; color:#bad9ef; line-height:51px; text-decoration:none;}
.menu a:hover{ text-decoration:underline;}

.center { width:100%; height:auto; background:#bad9ef;}
.banner{ width: 935px; height:auto; margin:0px auto; padding:20px 0 25px 25px;}
.banner-top{ height:95px;}
.banner-top img{ float:left;}
.banner-top h1{ margin:0px; padding-top:20px; font-family:Verdana; font-size:20px; color:#666; line-height:25px; font-weight:lighter; float:left;}
.banner-text{ padding-top:30px; height:auto;}
.banner-text p{ margin:0px; padding:0px; font-size:16px; color:#626669; font-family: Arial, Verdana; line-height:26px;}
.banner-bottom{ width:935px; height: 690px;}
.banner-bottom-left{ float:left; height:385px; width:285px; margin:0px; padding:40px 77px 265px 0px;}
.banner-bottom-left img { margin-bottom:12px;}
.banner-bottom-left p{ margin:0px; padding-top:28px; font-family:Georgia, verdana; font-size:14px; font-style:italic; color:#718797; line-height:20px;}
.banner-bottom-left span{ display:block; padding:10px 0px 0px 150px;}
.banner-bottom-left ul{ margin:0px; padding:30px 0px 0px 0px; list-style:none;}
.banner-bottom-left ul li{ padding-right:20px; float:left; margin:0px;}
.banner-bottom-right{ float:right; height:690px; width:573px;}

.bottom{ width:100%; height: auto; background:#3a3a3a;}
.content{ width:925px; height:auto; margin:0 auto; padding:30px 0px 0px 35px; }
.content ul{ margin:0; list-style:none; float:left; padding:0px 50px 10px 40px; width:210px;  font-family:Verdana, Arial; font-size:12px; line-height:20px;}
.content ul li{ margin:0; padding-bottom:5px; color:#8b9ba7; }
h2{ margin:0; padding:0;  font-size:24px; color:#bad9ef; font-weight:lighter;}
.bird{ width:620px; height:100px; margin:0 auto; padding:0}
.bird1{ float:left; width:92px;height:100px;}
.bird2{ float:left; width:524px; background:url(images/bird-bg1.jpg) repeat-x; height:100px; text-align:left;}
.bird2 P{ margin:0px; padding-top:40px; font-family:Georgia, verdana; font-size:14px; font-style:italic; color:#a4a7a9; line-height:20px;}
.bird3{ float:left; width:4px; background:url(images/bird-bg2.jpg) no-repeat;height:100px;}

.foot{ width:960px; margin:0 auto; padding:20px 0px 10px 0px; text-align:center; }
.foot p{ margin:0; padding:0; color:#cbcbcb; font-family:verdana, Arial; line-height:18px; font-size:12px;}




/*----------sub----------*/
.sub-line{ width: 935px; height:20px; margin-top:15px; background:url(images/sub-line.jpg) no-repeat;}
.sub-text{ width:845px; height:auto; margin:0px; padding:15px 80px 0px 10px; font-family:Verdana, Arial;}
.sub-text ul{ margin:0px; padding:0px 0px 50px 0px; list-style:none;}
.sub-text ul li{ margin:0px; padding-bottom:5px; color:#626669; font-size:16px; line-height:26px;}
h3{ margin:0; padding:0;  font-size:30px; color:#718797; font-weight:lighter;}