@charset "utf-8";
/* CSS Document */

body{ width:100%; height:auto; background:url(images/bg.jpg) repeat-x; margin:0; padding:0; font-family:Arial, Helvetica, sans-serif}

#warp{ width:980px; height:767px; margin:0 auto; padding:49px 0 0 0;}
.banner{ width:980px; height:458px; margin-bottom:15px;}
.text{ width:502px; height:458px; float:left; background:url(images/appstore.jpg) no-repeat bottom; padding:0 0 0 76px;}
.tit { background:url(images/tit.jpg) no-repeat; padding:137px 0 0 0; height:213px;}
h1{ margin:0; padding:0; font-size:26px; color:#fff; font-weight:lighter; line-height:38px;}
.tit p{ font-size:13px; color:#959595; line-height:18px; margin:0; padding-bottom:15px;}
.tit p a { color:#fff; text-decoration:none;}
.tit p a:hover { color:#fff; text-decoration:underline;}
.pic{ width:401px; height:458px; background:url(images/iphone.jpg) no-repeat; float:left;}
.clr{ clear:both;}

.content{ padding:0 0 0 50px; width:930px; height:200px; margin:0;}
.content1{ padding:0; float:left;height:200px; margin:0;}
h2 { margin:0 0 15px 0; padding:0; font-size:24px; color:#fff; line-height:30px; font-weight:lighter;}
.content1 p{ font-size:13px; color:#959595; line-height:18px; margin:0; padding-bottom:15px;}
.content1 p a { color:#959595; text-decoration:underline;}

.foot{ height:55px; width:980px; padding-top:38px; margin:0; text-align:center; line-height:45px; font-size:11px; color:#657078; background:url(images/bird.jpg) no-repeat 680px 0;}
.foot a { color:#657078;}


