@charset "utf-8";
/* CSS Document */

body{ width:100%; height:auto; background:#e4e7e9;  margin:0; padding:0; }


#warp{ width:100%; height:auto; margin:0 ; padding:0; background:url(images/sub/sub-bg.jpg) repeat-x ;}
#main{ width:960px; height:auto; margin:0 auto;font-family:verdana, Arial, Helvetica, sans-serif; color:#000; line-height:20px; font-size:12px;}
.head{ width:852px; padding:14px 54px 20px; 54px;}
.head-left{ float:left; width:288px; height: 177px; background:url(images/sub/sub-ip.jpg) no-repeat;}
.head-right{ float:right; padding-left: 53px; width:510px;}
.head-right p{ color:#FFF; font-family:Verdana, Geneva, sans-serif; margin:0; padding:0;}
.menu{ height:61px;}
.menu ul {margin:0; list-style:none; padding-left:10px;}
.menu ul li {font-size:22px; font-family:Arial, Helvetica, sans-serif;  line-height:61px; float:left; font-weight:bold; padding-right:15px; margin:0;}
.menu ul li span { background:url(images/menu-bg.jpg) right top no-repeat; height:61px; display: inline-block; width:auto;
padding-right:30px; margin:0;}
.menu ul li a { color:#000; text-decoration:none;}
.menu ul li a:hover{ text-decoration:underline;}

.content-top{width:932px; height:20px; margin:0 9px 0px 18px;}
.content{ width:852px; height:auto; background:#FFF; margin:0 9px 0 18px; padding: 0 40px 10px 40px ;}
.content p{ margin:0; padding-bottom:30px;}
h1{ margin:0; padding:30px 0 10px 0; font-size:36px; font-family:Arial, Helvetica, sans-serif;}
.content1{ width:852px; height:auto; padding:0; border-bottom:1px solid #c8c8c8; margin-bottom:30px;}
.content a { color:#0d89d8;text-decoration:underline;}
.content a:hover { color:#0d89d8; text-decoration:none;}

.content-bottom{width:932px; height:20px; margin:0 9px 10px 18px;}

.foot{ width:100%; height:85px; background:#3a3a3a; border-top:1px solid #a0a2a3; text-align:center; padding-top:10px;}
.foot p{ margin:0; padding:0; color:#cbcbcb; font-family:verdana, Arial, Helvetica, sans-serif; line-height:30px; font-size:12px;}
