@charset "utf-8";
/* CSS Document */

body{ width:100%; height:auto; background:#e4e7e9;  margin:0; padding:0; }


#warp{ width:100%; height:auto; margin:0 ; padding:0; background:url(images/index/index-bg.jpg) repeat-x ;}
#main{ width:960px; height:auto; margin:0 auto; padding:37px 10px 0 0; font-family:verdana, Arial, Helvetica, sans-serif; color:#000; line-height:20px; font-size:12px;}
.head{ width:950px;}
.head-left{ float:left; width:510px; height: 585px; background:url(images/index/index-ip.jpg) no-repeat;}
.head-right{ float:right; width:440px;}
.head-tit{ width:415px; padding-right:25px;}
.head-txt{ width:400px; padding:0 25px 0 15px; background:url(images/index/index-banner-txt.jpg) no-repeat; height:175px;}
.head-txt p{ color:#FFF; font-family:Verdana, Geneva, sans-serif;margin:0; padding:2px 0 15px 0;}
.line-head-txt{ width:400px; height:1px; border-bottom: 1px solid #9fd2f3; margin:0; padding:0;}
.head-txt span{ font-family:Georgia, "Times New Roman", Times, serif; font-size:14px; color:#FFF; font-style:italic;
padding-top:15px; display:block;}

.menu{ height:61px;}
.menu ul {margin:0; list-style:none; padding-left:50px;}
.menu ul li {font-size:22px; font-family:Arial, Helvetica, sans-serif;  line-height:61px; float:left; font-weight:bold; padding-right:15px; margin:0;}
.menu ul li span { background:url(images/menu-bg.jpg) right top no-repeat; height:61px; display: inline-block; width:auto;
padding-right:30px; margin:0;}
.menu ul li a { color:#000; text-decoration:none;}
.menu ul li a:hover{ text-decoration:underline;}

.appstore{ position: absolute; z-index:100; margin-top:530px; margin-left:690px;}
.head-bottom{ height:117px; width:440px; border-top: 3px solid #000; background:url(images/index/index-bg2.jpg) repeat-x;}

.content{ width:852px; height:auto; background:#FFF; margin:0 9px 0 18px; padding: 0 40px 10px 40px ;}
.content p{ margin:0; padding-bottom:30px;}
h1{ margin:0; padding-bottom:10px; font-size:24px; font-family:Arial, Helvetica, sans-serif;}
.content1{ width:852px; height:auto; padding:0 0 20px 0px; border-bottom:1px solid #c8c8c8; margin-bottom:30px;}
.content1 ul{ margin:0; list-style:none; float:left; padding:0; width:240px;}
.content1 ul li{ margin:0; padding-bottom:5px; color:#6b5836; }
h2{ margin:0; padding:0;  font-size:20px; color:#8fcb0d; font-weight:lighter; font-family:Arial, Helvetica, sans-serif;}
.content1 ul li a { color:#ac8f59; text-decoration:underline;}
.content1 ul li a:hover{ text-decoration:none;}

.content2{ width:852px; height:auto; padding:0 0 20px 0px; border-bottom:1px solid #c8c8c8; margin-bottom:30px;}
.content2 ul{ margin:0; padding:0; list-style:none; float:left; }
.content2 ul li { padding-bottom:10px; color:#6b5836;}
.content2 ul li span { padding-bottom:5px; margin:0;}
.content2 ul li input { width:225px; height:20px; padding:3px; background-color:#cbcbcb; border:none;}
.content2 ul li textarea{ width:510px; height:135px; padding:3px; background-color:#cbcbcb; border:none; margin-bottom:5px;}

.content3{ width:852px; height:62px;}
.content-bottom{width:852px; height:20px; margin:0 9px 10px 18px;}

.foot{ width:100%; height:85px; background:#3a3a3a; border-top:1px solid #a0a2a3; text-align:center; padding-top:10px;}
.foot p{ margin:0; padding:0; color:#cbcbcb; font-family:verdana, Arial, Helvetica, sans-serif; line-height:30px; font-size:12px;}
