@charset "utf-8";
/* CSS Document */

body{ width:100%; height:auto; margin:0; padding:0; background:#e2e4f5;font-family:Arial;}
#warp{ width:900px; height:auto; margin:0 auto; padding:14px 0 0 0;}
.nav{ width:900px; height:38px; margin: 0 ; padding:0}
.nav-left{ width:10px; height:38px; float:left; background:url(images/nav-left.jpg) no-repeat;}
.nav-center{ width:867px; height:38px; float:left; background:url(images/nav-bg.jpg) repeat-x; padding:0 0 0 13px;}
.nav-right{ width:10px; height:38px; float:left; background:url(images/nav-right.jpg) no-repeat;}

.banner{ width:900px; height:430px; background:url(images/banner.jpg) no-repeat top right; margin:26px 0 0 0; padding:0;}
.banner-top{ width:289px; height:137px; margin: 0 0 0 50px; background:url(images/clock.jpg) no-repeat; padding:0 0 0 145px;}
h1{ margin:0; padding:0; font-size:85px; color:#000; font-weight:lighter;}
h2{ margin:0; padding:0 0 0 30px; font-size:25px; color:#a0a0a0;font-weight:lighter;}
.banner-content{ width:450px; height:auto; margin: 0 0 0 50px; padding:0 0 0 10px;}
.banner-content p{ margin:0; padding:10px 0; color:#3e3e3e; line-height:16px; font-weight:lighter; font-size:13px;}
.banner-icon { width:325px; height:90px; padding:8px 0 0 50px; margin:0; background:url(images/price.jpg) no-repeat 255px 8px;}

.content{ width:800px; height:auto; margin:0; padding:0 0 30px 20px; }
.content1{ margin:0; padding:0 0 0 35px;  float:left;}
h3 {  font-size:18px; color:#2d95d7; margin:0; padding:5px 0 20px 0; font-weight: lighter;}
.content1 span{ font-size:10px; color:#959595;}
.content1 p{ font-size:13px; color:#3e3e3e; line-height:18px;font-family:Arial; margin:0; padding:0 0 10px 0;}
.content1 a{color:#3e3e3e; text-decoration:underline;}
.ProOverview{ width:150px;}
.ProImg img { float:left; padding:0 10px 10px 0; margin:0}


.foot{ width:900px; height:50px; border-top:1px solid #bebfc8; text-align:center; line-height:40px; font-size:11px; color:3e3e3e;}





/*----------about---------------*/
.content-about{ width:815px; height:auto; margin:26px 0 0 0 ; padding:0 30px 30px 55px;}
.about-tit{ width:300px; height:100px; background: url(images/about-clock.jpg) no-repeat; margin-bottom:20px; padding:0 0 0 115px;}
h4{ margin:0; padding:0; font-size:60px; color:#000; font-weight:lighter;}
h5{ margin:0; padding:0 0 0 30px; font-size:16px; color:#a0a0a0;font-weight:lighter;}
.content-about span{ font-size:10px; color:#959595;}
.content-about p{ margin:0; padding:10px 0; color:#3e3e3e; line-height:18px; font-weight:lighter; font-size:13px;}